Loops statements: while,for,nested, loop control(break,continue,pass)

In [4]:
#Whaile is while loop
joining_age=25
i=1
while joining_age<=60:
  print(joining_age)
  joining_age=joining_age+1

else:
  print("Its time fore retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time fore retirement

In [8]:
### ATM machine with 1000
total_amount=1000
while total_amount!=0:
  print(total_amount)
  total_amount=total_amount-100
else:
  print("Put more money")

1000
900
800
700
600
500
400
300
200
100
Put more money

In [15]:
### for loop
lst=["Bappy",2,3,4,"Apple",'Banna']

In [16]:
type(lst)

list

In [17]:
lst[4]

'Apple'

In [18]:
lst

['Bappy', 2, 3, 4, 'Apple', 'Banna']

In [19]:
for x in lst:
  print(x)

Bappy
2
3
4
Apple
Banna

In [20]:
fruits_list=["Mango","charry","Pappaya","Banana"]

In [21]:
for a in fruits_list:
  print(a)
  if a=="charry":
    print("the fruit is charry")

Mango
charry
the fruit is charry
Pappaya
Banana

In [22]:
fruit="Mango"
for x in fruit:
  print(x)

M
a
n
g
o

In [23]:
fruit="Mango"
for x in fruit:
print(x,end='')

Mango

In [25]:
## Nested loop
n=7

In [26]:
range(1,6)

range(1, 6)

In [27]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [28]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [29]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [30]:
## Nested Loop
n=7

for i in range(0,n):
  for j in range(0,1+i):
    print("*",end='')

****************************

In [31]:
## Nested Loop
n=7

for i in range(0,n):
  for j in range(0,1+i):
    print("*",end='')
  print("\r")

*
**
***
****
*****
******
*******

In [32]:
##Loop Control
## Break and Continue
fruits_list= ["Mango","Cherry","Apple","Pappaya","Banana"]

In [34]:
for i in fruits_list:
  if i== "Apple":
    print("This is Apple")
  print(i)

Mango
Cherry
This is Apple
Apple
Pappaya
Banana

In [35]:
for i in fruits_list:
  if i== "Apple":
    print("This is Apple")
    break
  print(i)

Mango
Cherry
This is Apple

In [36]:
for i in fruits_list:
  if i== "Apple":
    print("This is Apple")
    continue
  print(i)

Mango
Cherry
This is Apple
Pappaya
Banana

In [37]:
for i in fruits_list:
  if i== "Apple":
    print("This is Apple")
    pass
  print(i)

Mango
Cherry
This is Apple
Apple
Pappaya
Banana